<button class="btn btn-primary" routerLink="/admin/products/add">Add Product</button>
<div *ngIf="itemResource">
  <data-table
    [items]="items" [itemCount]="itemCount"
    (reload)="reloadItems($event)" [indexColumn]="true">
    <data-table-column
      [property]="'title'" [header]="'title'"
      [sortable]="true" [resizable]="true"></data-table-column>

    <data-table-column
      [property]="'category'" [header]="'category'"
      [sortable]="true" [resizable]="true"></data-table-column>

    <data-table-column
      [property]="'price'" [header]="'price'"
      [sortable]="true" [resizable]="true"></data-table-column>

    <data-table-column header="Actions">
      <ng-template #dataTableHeader let-item="item">
        <i>Actions</i>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <button type="button" class="btn btn-link"
          [routerLink]="['/admin/products', item.id]">Edit</button>
      </ng-template>
    </data-table-column>
  </data-table>
</div>
